/*Imagen completa*/

/*
    .hero-image{
        min-height: 100vh;
        background-image: url(/img/01.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
 
 .hero-image { 
    display: flex;
    flex-direction: column;
    align-items: center;

 }
 
 */

 .letras .hero-image .clave{
    text-align: center;
    font-weight: 100;
    font-family:   Helvetica,Arial, sans-serif;
    padding: 2rem 0rem 3rem;
 }
    /*
    .hero-image div{
        ----El elemento "div" hereda la altura de su elemento padre (hero-image)----
        min-height: inherit;
        ---Queremos centrar el texto del elemento div---
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.1);
    }

   
    .hero-image .logo2{
        min-width: 20%;
        width: 20vh;
        padding-top: 0.5vh;
    }

 
    .hero-image .titulos {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        */
    .unica {
        font-family: var(--font-roboto); 
        font-size: 5rem;
        letter-spacing: 14px;
        text-transform: uppercase;
        color: var(--color-primary);
        padding: 0.5rem;
        margin: 0px;
        line-height: 100%;
          font-weight: 300;

        
    }

    .mejorada {
        font-family: var(--letra-tituloSecundario);
        font-size: 5rem;
        color: var(--color-tertiary);
        border: 0px;
        padding: 0px;
        margin: 0px;
        line-height: 100%;
        font-weight: 300;

    }




    /*Inicio styles*/ 

    #inicio {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*Afectan los h1 y h2 de la sección del grid: "letras". Es la primera vusta que se carga en la página 
    */
    .titulo h1{
        font-family: var(--letra-tituloPrincipal) ;
        font-size: 5vw;
        font-weight: 100;
        text-align: center;
        color: var(--color-secondary);
        margin-top: 1rem;
        letter-spacing: 1.5rem;
    }

    .titulo h2{
        font-family: var(--letra-tituloSecundario); /* Usando la variable que cree el 3april25 */
        font-weight: 500;
        font-size: 4vw;
        text-align: center;
        color: var(--color-secondary);
        letter-spacing: 1rem;
    }

     .titulo h3{
        font-family: arima, Helvetica, sans-serif;
        font-weight: 100;
        font-size: 2vw;
        text-align: center;
        color: var(--color-tertiary);
        margin-bottom: 2rem;
    }

     .spanish  {
        font-family: "Arima", Helvetica, sans-serif;
        font-weight: 300;
        font-size: 5vw;
        text-align: center;
        color: var(--color-primary);
        margin: 0px;
        padding: 0px;
        line-height: 100%;
        border: 0px;
       
    }


    /*Titulos personalziados por tipo de background*/
    /*Background dark*/
    .titleLight{
        font-family: var(--letra-tituloPrincipal); /* Usando la variable que cree el 3april25 */
        font-size: 4vw;
        text-align: center;
        color: var(--color-quaternary);
        letter-spacing: 0.5rem; 
    }

    .contentLight {
        font-family: var(--letra-tituloSecundario);
        font-size: 5rem;
        color: var(--color-quaternary);
        border: 0px;
        padding: 0px;
        margin: 0px;
        line-height: 100%;
        font-weight: 300;
    }


    /*Background light*/
     .titleDark{
        font-family: var(--letra-tituloSecundario); /* Usando la variable que cree el 3april25 */
        font-weight: 300;
        font-size: 7vw;
        text-align: center;
        color: var(--color-quaternary);
        letter-spacing: 0.7rem;
    }

    .contentDark {
        font-family: var(--letra-tituloSecundario); /* Usando la variable que cree el 3april25 */
        font-weight: 300;
        font-size: 7vw;
        text-align: center;
        color: var(--color-quaternary);
        letter-spacing: 0.7rem;
    }

    .pesaj {
        font-family: var(--letra-tituloSecundario); /* Usando la variable que cree el 3april25 */
        font-weight: 300;
        font-size: 7vw;
        text-align: center;
        color: var(--color-quaternary);
        letter-spacing: 0.7rem;
    }

    .pesajTitle {
        font-family: var(--letra-tituloSecundario); /* Usando la variable que cree el 3april25 */
        font-weight: 500;
        font-size: 4vw;
        text-align: center;
        color: var(--color-quaternary);
    }

    #inicio img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    


   
