/* code for menu dropdown*/
.show {
  display: block;
}


/*   GRID   menu dropdown*/

.information-grid {
  display: grid;
  grid-template-columns: repeat(6, max-content)
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  max-width: 277px; /*wide of the menu screen*/
}